* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom left, #532727,#724848, #EDBEBC);
  background-attachment: fixed;
  font: 16pt "Raleway", sans-serif;
  color: #f6f5f5;
}

title {
  display: none;
}
/*===================

Styling for header

====================*/

header {
  margin-left: 0;
  margin-top: 25px;
  height: 98px;
}

.logo {
  margin-left: 170px;
  margin-top: -8px;
  position: absolute;
}

.menu > ul > li {
  display: inline-block;
  margin: 32px
}

.menu ul {
  text-align: center;
  font-size: 10pt;
  position: relative;
}

.menu-item a {
  color: #F7F4F2;
  text-decoration: none;

}

.menu ul li a:hover {
  color: #B1ADAA;
  transition: .5s;
}


/*=======================

top section

==========================*/

.top-section {
  margin-top: -150px;
  max-width: 80%;
  padding: 20px;
  min-height: 90vh;
  padding: 50px;
}

.top-section p {
  font-size: 18pt;
  font-weight: lighter;
  max-width: 600px;
  margin-left: 120px;
  margin-bottom: 21px;
}

.topstyle {
  margin-top: 300px;
  margin-left: 180px;
  max-width: 750px;
}

img.line {
  margin-left: 439px;
  margin-top: -35px;
}

img.brush {
    margin: -1000px 0 0 -75px;
    border-bottom: 1px solid;
}
a.button-collab,
a.button-projects {
    color: white;
    text-decoration: none;
    font-size: 16pt;
    border: 1px white solid;
    border-radius: 30px;
    padding: 5px 55px;
}

a.button-projects {
  float: right;
  position: relative;
  z-index: 3;
  margin-right: -450px;
  margin-top: -43px;
}

a.button-collab:hover {
  background: white;
  color: #CAA5A5;
  transition: 1s ease;
}

a.button-projects:hover {
  background: white;
  color: #CAA5A5;
  transition: 2s ease;
}

/*=============
About Me section
==============*/

.about {
  max-width: 800px;
}

.about h1 {
  font-size: 26pt;
  text-align: center;
}

.about h2 {
  padding: 10px 0;
}

.bio {
  max-width: 650px;
  line-height: 1.5;
  margin-top: 70px;
  margin-left: 200px;
  min-height: 75vh;
}

img.me {
    margin: -435px 0 0 833px;
    box-shadow: 40px 65px #724848;
    position: absolute;
}
/*==================
projects page
====================*/

.projects {
  margin: 0 auto;
  width: 80%;
  min-height: 95vh;
}

.projects h1 {
  color: #EDBEBC;
  font-size: 30pt;
  padding-top: 100px;
  text-align: center;
}

.projects p {
  color: #EDBEBC;
  text-align: center;
  padding-bottom: 30px;
}

.img_display {
  display: none;
}

/*===================
Image Gallery
=====================*/

.container {
  width: 800px;
  min-height: 480px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .gallerybox {
  position: relative;
  width: 400px;
  max-height: 240px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}

.container .gallerybox .imagebox {
  position: relative;
  overflow: hidden;

}

.container .gallerybox .imagebox img {
  max-width: 100%;
  transition: transform 2s;

}

.container .gallerybox:hover .imagebox img {
  transform: scale(1.2);
}

.container .gallerybox .details {
  border-radius: 5px;
  position: absolute;
  top: 70px;
  left: 30px;
  bottom: 70px;
  right: 30px;
  height: 150px;
  background: #B1ADAA;
  transform: scaleY(0);
  transition: transform .5s;
}
.container .gallerybox .details i {
  text-align: center;
  padding: 2px;
}
.container .gallerybox:hover .details {
  transform: scaleY(1);
}

.container .gallerybox .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
}

.container .gallerybox .details .content h2 {
  font-size: 12pt;
  margin: 0;
  padding: 10px 5px;
  text-align: center;
  color: #532727;
}

.container .gallerybox .details .content p {
  color: white;
  font-size: 10pt;
  text-align: center;
}

a.button-view {
  background: white;
  border-radius: 10px;
  color: #532727;
  font-size: 10pt;
  margin-left: 120px;
  padding: 5px 10px;
  text-decoration: none;
}
/*=====================

My Services Section

======================= */

.services-section {
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  text-aign: center;
}

.services-section h1 {
    color: #EDBEBC;
    text-align: center;
    padding: 100px 0;
    font-size: 20pt;
    font-weight: lighter;
    margin-top: 100px
}
.toolbox {
  background: #724848;
  padding: 15px;
  width: 310px;
  height: 285px;
  display: inline-block;
  margin: 13px;
}

.toolbox .info {
  position: relative;
}

.toolbox:hover {
  background: white;
  color: #724848;
  transition: .6s ease;
}

.toolbox .info h2 {
  font-size: 18pt;
  text-align: center;
  padding-top: 5px;
}

.info ul li {
  list-style: none;
  line-height: 2;
  margin-top: 5px;
  text-align: center;
}

.toolbox .info i {
  font-size: 34px;
  color: #EDBEBC;
  margin-left: 110px;
}
/*======================

Contact Form Styling

======================*/

main#contact {
    min-height: 79vh;
}

.contact-page h1 {
    font-size: 28pt;
    margin-top: 80px;
    padding: 30px 0 10px 0px;
    text-align: center;
}

.contact-page p {
    margin: 0px 10px 0px 50px;
}

.label_input_wrap {
  color: white;
}

.form {
  max-width: 300px;
  padding: 10px 50px;
}

form.form {
    line-height: 2;
    margin: 0 auto;
}

input#firstname, #lastname, #email, #telephone, #dropdown {
    background: #E5E5E6;
    border: none;
    border-radius: 3px;
    color: #724848;
    padding: 5px;
}

input[type="submit"] {
  color: #724848;
  padding: 5px 40px;
  margin: 23px 0px 0px 30px;
  border: none;
  border-radius: 30px;
}

.submit {
  margin-bottom: 70px;
}

input[type="submit"]:hover{
  background: white;
  color: #EDBEBC;
  transition: .2s ease;
}

/*========================

Footer Styling

=========================*/

footer {
  background: white;
  padding: 40px;
}

footer ul li {
  display: inline-block;
  font-size: 40px;
  padding: 10px;
  list-style: none;
}

footer ul a {
  color: #724848;
  list-style: none;
}
footer ul {
  text-align: center;
}

footer p {
  text-align: center;
  color: #724848;
}

.logofooter {
  margin-bottom: -75px;
}
