* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #f6f5f5;
}

/*================

Styling for header

=================*/

header {
  background: white;
  margin-left: 0;
  margin-top: 0;
  height: 98px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
}

.logo {
  margin-left: 20px;
  margin-top: 2px;
  position: absolute;
}

.menu > ul > li {
  display: inline-block;
  margin: 32px
}

.menu ul {
  text-align: right;
  font-size: 16pt;
  margin-right: 30px;
  position: relative;
}

.menu-item a {
  color: #6B5050;
  font-weight: bold;
  text-decoration: none;

}

.menu ul li a:hover {
  color: #B1ADAA;
  transition: .5s;
}


/*===========
top section
============*/

.top-section,
.about {
  background-image: linear-gradient(to right, #6B5050, #C39282);
  background-size: cover;
  min-height: 90vh;
  margin-top: 97px;
  padding: 50px;
  animation: bg-animation 5s 2 alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.top-section h2 {
    font-size: 30pt;
    font-weight: lighter;
    max-width: 895px;
    padding: 116px 0px 30px 30px;
}

.top-section img {
    margin-left: 235px;
    margin-top: -43px;
    position: absolute;
    z-index: 5;
}

a.button-collab,
a.button-projects {
    color: white;
    text-decoration: none;
    background: #9C8E8E;
    font-size: 16pt;
    border: 1px white solid;
    border-radius: 15px;
    padding: 5px 20px;
}

a.button-projects {
  float: right;
  position: relative;
  z-index: 3;
  margin-right: 774px;
  margin-top: 137px;
}

a.button-collab:hover {
  background: white;
  color: #CAA5A5;
  transition: 2s ease;
}

a.button-projects:hover {
  background: white;
  color: #CAA5A5;
  transition: 2s ease;
}

/*=============
About Me section
==============*/

.about {
  padding: 100px;
}

.bio {
    max-width: 600px;
    line-height: 2;
}

/*===============
projects gallery
===============*/

.projects {
  background: #D7D5D3 opacity 42%;
  max-height: auto;
}

.projects h2 {
  color: #4d4d4d;
  font-size: 30pt;
  padding-top: 100px;
  text-align: center;
}

.projects p {
  color: #4d4d4d;
  text-align: center;
  padding-bottom: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  min-height: 134vh;
  }

.gallery img {
  border-radius: 10px;
  max-width: 400px;
  flex: 50%;
  vertical-align: middle;

}

.gallery h3 {
  color: black;
  padding: 30px;
  text-align: center;
}

.img_display {
  display: none;
}

.gallery img:hover {
  background: white;
  opacity: 0.3;
  transition: .5s ease;
}

.met_gallery {
    margin-top: -330px;
}

.portiko_gallery {
    margin-left: 40px;
    margin-top: 60px;
}

.logo_gallery {
    margin-left: 40px;
}

/*=================
My Services Section
=================== */

.services-section {
  background-color: #D7D5D3 opacity 40%;
  border-top: 1px dashed #707070;
  color: #707070;
  padding: 100px;
}

.services-section h3 {
  font-size: 36pt;
  margin-bottom: 10px;
}
.services-section ul {
  font-size: 18pt;
  list-style: none;
  line-height: 3;
}

.services-section img {
  border: 0.5px solid #707070;
}
.businesscard {
    max-width: 400px;
    margin-left: 630px;
    margin-top: -515px;
    margin-bottom: 65px;
}

/*===================
Contact Form Styling
======================*/

.contact-form body {
  background: #D7D5D3;
}

.contact-page h2 {
    font-size: 30pt;
    margin: 60px 0px 0px 50px;
    color: #707070;
}

.contact-page p {
    margin: 0px 10px 0px 50px;
    color: #707070;
}

.contact-form body {
  background: #D7D5D3;
}

.label_input_wrap {
  color: #707070;
}

.form {
  max-width: 200px;
  padding: 10px 50px;
}

form.form {
    line-height: 1.5;
}

input#firstname, #lastname, #email, #telephone, #dropdown {
    background: #CAA5A5;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 30px;
    margin: 23px 0px 0px 30px;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover{
  color: gray;
}

/*================
Footer Styling
==================*/

footer {
    background: #B1ADAA;
    padding: 40px;
}

footer ul li {
  display: inline-block;
  font-size: 30px;
  list-style: none;
  padding: 10px;
}

footer ul {
  text-align: center;
}

footer p {
  text-align: center;
}

.logofooter {
  margin-bottom: -75px;
}
