* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom left, #532727,#724848, #EDBEBC);
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  color: #f6f5f5;
}

/*===================

Styling for header

====================*/

header {
  margin-left: 0;
  margin-top: 45px;
  height: 98px;
}

.logo {
  margin-left: 170px;
  margin-top: -8px;
  position: absolute;
}

.menu > ul > li {
  display: inline-block;
  margin: 32px
}

.menu ul {
  text-align: center;
  font-size: 16pt;
  position: relative;
}

.menu-item a {
  color: #F7F4F2;
  text-decoration: none;

}

.menu ul li a:hover {
  color: #B1ADAA;
  transition: .5s;
}


/*=======================

top section

==========================*/

.top-section {
  margin-top: -150px;
  max-width: 100%;
  padding: 20px;
  min-height: 90vh;
  padding: 50px;
}

.top-section p {
  font-size: 28pt;
  font-weight: lighter;
  max-width: 836px;
  margin-left: 120px;
  margin-bottom: 21px;
}

.topstyle {
  margin-top: 400px;
  margin-left: 400px;
}

img.line {
  margin-left: 513px;
  margin-top: -35px;
}

img.brush {
    margin-top: -1000px;
    border-bottom: 1px solid;
}
a.button-collab,
a.button-projects {
    color: white;
    text-decoration: none;
    font-size: 20pt;
    border: 1px white solid;
    border-radius: 30px;
    padding: 5px 75px;
}

a.button-projects {
  float: right;
  position: relative;
  z-index: 3;
  margin-right: -645px;
  margin-top: -60px;
}

a.button-collab:hover {
  background: white;
  color: #CAA5A5;
  transition: 2s ease;
}

a.button-projects:hover {
  background: white;
  color: #CAA5A5;
  transition: 2s ease;
}

/*=============
About Me section
==============*/

.about {
  padding: 100px;
}

.about h1 {
  font-size: 36pt;
  text-align: center;
}

.bio {
  max-width: 600px;
  line-height: 2;
  margin-top: 70px;
  min-height: 75vh;
}

img.me {
    margin: -435px 0 0 675px;
    box-shadow: 40px 65px #724848;
    position: absolute;
}
/*==================
projects page
====================*/

.projects {
  width: 100%;
  min-height: 95vh;
}

.projects h1 {
  color: #EDBEBC;
  font-size: 30pt;
  padding-top: 100px;
  text-align: center;
}

.projects p {
  color: #EDBEBC;
  text-align: center;
  padding-bottom: 30px;
}

.img_display {
  display: none;
}

/*===================
Image Gallery
=====================*/

.container {
  width: 1300px;
  min-height: 585px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .gallerybox {
  position: relative;
  width: 600px;
  max-height: 400px;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  left: 55px;
  top: 20px;
}

.container .gallerybox .imagebox {
  position: relative;
  overflow: hidden;

}

.container .gallerybox .imagebox img {
  max-width: 100%;
  transition: transform 2s;

}

.container .gallerybox:hover .imagebox img {
  transform: scale(1.2);
}

.container .gallerybox .details {
  border-radius: 5px;
  position: absolute;
  top: 95px;
  left: 30px;
  bottom: 70px;
  right: 30px;
  height: 200px;
  background: #B1ADAA;
  transform: scaleY(0);
  transition: transform .5s;
}
.container .gallerybox .details i {
  text-align: center;
  padding: 2px;
}
.container .gallerybox:hover .details {
  transform: scaleY(1);
}

.container .gallerybox .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
}

.container .gallerybox .details .content h2 {
  margin: 0;
  padding: 10px 5px;
  font-size: 24px;
  color: #532727;
}

.container .gallerybox .details .content p {
  color: white;
  text-align: center;
}

.click {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*=====================

My Services Section

======================= */

.services-section {
  min-height: 100vh;
}

.services-section h1 {
    color: #EDBEBC;
    text-align: center;
    padding-top: 290px;
    font-size: 36pt;
    font-weight: lighter;
}
.toolbox {
  position: relative;
  background: #724848;
  padding: 10px;
  width: 400px;
  height: 300px;
  display: inline-block;
  top: 115px;
  left: 617px;
  margin: 10px 20px
}

.toolbox .info {
  position: relative;
}

.toolbox:hover {
  background: white;
  color: #724848;
  transition: .6s ease;
}

.toolbox .info h2 {
  font-size: 20pt;
  text-align: center;
}

.info ul li {
  list-style: none;
  text-align: center;
  line-height: 2;
  margin-top: 5px;
}

.toolbox .info i {
  font-size: 40px;
  color: #EDBEBC;
  margin: 18px 168px;
}
/*======================

Contact Form Styling

======================*/

main#contact {
    min-height: 79vh;
}

.contact-page h1 {
    font-size: 30pt;
    margin: 60px 0 0 50px;
    padding: 30px 0 10px 0px;
    text-align: center;
}

.contact-page p {
    margin: 0px 10px 0px 50px;
}

.label_input_wrap {
  color: white;
}

.form {
  max-width: 300px;
  padding: 10px 50px;
}

form.form {
    line-height: 2.5;
    margin: 0 auto;
}

input#firstname, #lastname, #email, #telephone, #dropdown {
    background: #E5E5E6;
    border: none;
    border-radius: 3px;
    color: #724848;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 40px;
    margin: 23px 0px 0px 30px;
    border: none;
    border-radius: 30px;
}

.submit {
  margin-bottom: 70px;
}

input[type="submit"]:hover{
  background: white;
  color: #EDBEBC;
  transition: .2s ease;
}

/*========================

Footer Styling

=========================*/

footer {
    background: white;
    padding: 40px;
}

footer ul li {
  color: #724848;
  display: inline-block;
  font-size: 40px;
  list-style: none;
  padding: 10px;
}

footer ul {
  text-align: center;
}

footer p {
  text-align: center;
  color: #724848;
}

.logofooter {
  margin-bottom: -75px;
}
